<configuration>
  <appSettings>
    <add key="LogoFilePath" value="assets/logo.png" />
    <add key="UsersJSONFilePath" value="assets/users.json" />
    <add key="ProductsJSONFilePath" value="assets/market.json" />
    <add key="SalesJSONFilePath" value="assets/sales.json" />
    <add key="TransactionsJSONFilePath" value="assets/transactions.json" />
    <add key="CustomersJSONFilePath" value="assets/customers.json" />
  </appSettings>
</configuration>